@import "tailwindcss";

@theme {
  /* fonts */
  --font-montserrat: "Montserrat", sans-serif;

  /* colors */
  --color-spanish-violet: #4b1a78;
  --color-chef-white: #f3f4f6;
  --color-encore: #6b7280;
  --color-purple-illusionist: #a77df1;
  --color-dreamy-cloud: #eceef0;
  --color-spindle: #e9e9ea;
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl font-bold my-4;
  }
  h2 {
    @apply text-xl md:text-2xl font-semibold my-3;
  }
  h3 {
    @apply text-lg md:text-xl font-semibold my-2;
  }
  p {
    @apply text-base my-2;
  }
}

@layer components {
  .customCard {
    @apply bg-dreamy-cloud border border-encore/20 rounded p-1.5 shadow;
  }
  .menuItemsContainer {
    @apply absolute inset-x-0 top-14 z-10 outline-none focus:ring focus:ring-encore/30;
  }
}
